*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    color: #d4d4d4;
}

body{
    background-color:#252526;
}

.presentation{
    padding-top: 1.5rem;
    text-align: center;

}

.title{
    font-size: 3rem;
}
.subText{
    font-size: 2rem;
    color: #9da0a6;
}

.activitySection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
    
}




.gridContainer{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{

    border: #3a3a3a 2px solid;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.innerGrids{
    display: flex;
}

.squaresContainer{
    display: flex;
}

.column{
    
    display: flex;
    flex-direction: column;

}

.row{
    
    border: #2a2a2a solid 1px;
   
}





.panel{
    width: 240px;
}

.panel .subText{
    padding-bottom: 8px;
    font-size: 22px;
    text-align: center;
}
.options{
    display: flex;
    justify-content: space-between;
    gap: 3px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.button{

    border: none;
    outline: none;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    transition: background 0.2s;
}

.button.erase{
    background-color:  #161929;    
}

.button.erase:hover{
    background-color: #0D0F18;
}



.button.resizeGrid{
    background-color: #101F25;
}

.button.resizeGrid:hover{
    background-color: #1A2D35;
}

.button.rainbowMode{    
    background: linear-gradient(#5A4FF3,#E35385,#2EC4A7);
}

.button.rainbowMode:hover{
    background: #5A4FF3;

}

.button.regularMode{
    background-color: #0C3A3A;
}

.button.regularMode:hover{
    background-color: #105050;

}

.button.shadeMode{
    background-color: #2B2A48;
}

.button.shadeMode:hover{
    
    background-color: #3A395C;
}

.button.clear{
    background-color: #536b78;
}

.button.clear:hover{
    background-color: #3f5863;
}

.displaySize{
    text-align: center;
    color: #6B7E7B;
}

.displayMode{
    text-align: center;
    color:  #4FD1C5;
}