*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    color: #d4d4d4;
}

body{
    background-color:#252526;
}

.presentation{
    padding-top: 1.5rem;
    text-align: center;

}

.title{
    font-size: 4rem;
}
.subText{
    font-size: 2.5rem;
    color: #9da0a6;
}

.activitySection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
}




.gridContainer{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{

    border: #3a3a3a 2px solid;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.innerGrids{
    display: flex;
    
}

.column{
    
    display: flex;
    flex-direction: column;

}

.row{
    
    border: #2a2a2a solid 1px;
   
}

.row:hover{
    background-color: white;
}

.row.marked{
    background-color: white;
}


.erase{
    background-color:  #161929;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.erase:hover{
    cursor: pointer;
    background-color: #0D0F18;
    transition: background 0.2s;
}

.resizeGrid{
    background-color: #101F25;
    border: none;
    outline: none;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.resizeGrid:hover{
    cursor: pointer;
    background-color: #1A2D35;
    transition: background 0.2s;
}